<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
<!--                    <li>
                        <a href="#about">About(dead)</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services(dead)</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
-->
                    <li>
                        <a href="mailto:samalden.spector@gmail.com">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{site.title}} &copy; 2016</p>
            </div>
            <div class="col-md-4">
               "Charm is the ability to insult people without offending them; nerdiness is the reverse" &mdash Nassim Nicholas Taleb 
            </div>
        </div>
    </div>
</footer>
